/*  Styles! */
#blankFiller {
  height: 33vh;
}



#resultArea {
  display: none;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px gray;

}

#introHeader {
  font-size: 40px;
}

#introCard, #userForm {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px gray;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'DM Sans', sans-serif;
  display: none;
}


#sorter, #doctorGender, #symptoms, #doctorName, #resultLimit {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#submitButton {
  width: 100% !important;
}

.resultantCard {
  margin-bottom: 5px;
  width: 44vw;
  margin-right: 28%;
  margin-left: 28%;
  font-family: 'DM Sans', sans-serif;

}

.emphatic {
  text-decoration: underline;
  color: green;
  text-shadow: 0px 0px 0px;
}

.emphaticBad {
  text-decoration: underline;
  color: red;
  text-shadow: 0px 0px 0px;
}

.card-header {
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: 'DM Serif Text', serif;

}

#formCard {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;

  display: none;
}
